/* --- Code blocks --- */

.highlight {
  box-sizing: border-box;
  margin: 0.5rem 0;
  position: relative;
}

pre:not(.chroma) {
  margin: 0.5rem 0;
}

pre:not(.chroma) > code:not(.hljs) {
  background-color: #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 13px;
  overflow-x: auto;
  padding: 9.5px;
}

.highlight tr,
.highlight pre {
  border: none;
}

.highlight pre,
.highlight .chroma {
  border-radius: 4px;
  font-size: 13px;
  margin: 0;
  overflow-x: auto;
}

.highlight > pre,
.highlight > .chroma {
  padding: 9.5px;
}

.highlight .lntable {
  border-spacing: 0;
  display: block;
  margin: 0;
  width: 100%;
}

.highlight .lntd {
  padding: 0;
  vertical-align: top;
}

.highlight .lntd pre {
  padding: 9.5px;
}

.highlight .lntd:first-child pre {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}

.highlight .lntd:last-child pre {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
}

.highlight .lnt,
.highlight .ln {
  margin-right: 0.8em;
  padding: 0 0.4em;
}

.highlight td:last-child pre code,
.highlight pre code {
  white-space: pre;
}

pre code.hljs {
  border-radius: 4px;
  font-size: 13px;
  padding: 9.5px;
}
